@model Dictionary<String, int>
           @if (Model.Any())
           {
               foreach (var x in Model)
               {
                   <li id="@x.Key"><a href="/Message/ShowDialog?userName=@x.Key" >@x.Key<span class="badge">@x.Value</span></a></li>
               }
           }
           else
           {
                <li class="alert alert-warning"> У вас нет ни одного диалога.</li>
           }
