
@using Microsoft.AspNet.Identity
@model   System.Security.Principal.IPrincipal
@{
    ViewBag.Title = "Чат";
}

<h2>Диалоги</h2>

<div class="container">
    <div class="bg-primary col-md-6 col-md-offset-3">
        <div class="navbar ">
            <form class="navbar-left navbar-form" role="search">
                <div class="row">
                    <div class="form-group">
                        <input id="story" class="form-control" placeholder="Search">
                    </div>
                    <div id="searchUser" class="btn btn-default ">Поиск</div>
                </div>
                
            </form>
        </div>
        <div id="dialogs">
            <ul class="nav nav-pills nav-stacked">
                @Html.Action("ShowDialogs", "Message")
            </ul>
        </div>
        
        @Html.ActionLink("Next page", "ChatRoom", "Message", new { @class = "btn btn-primary" })
        <span id="оnlineUsers">
            <input id="username" type="hidden" />
        </span>
    </div>
</div>


