
@{
    ViewBag.Title = "RegisterConfirmation";
}

@if (ViewBag.IsConfirmed == true)
{
    <div class="container body-content" style="">
        <div class="alert alert-dismissable alert-success">
            <span>@Resources.Resource.RegistrationSuccess</span>
        </div>
    </div>
}
else
{
    <div class="container body-content" style="">
        <div class="alert alert-dismissable alert-success">
            <span>@Resources.Resource.RegistrationFailure</span>
        </div>
    </div>
}


