
@{
    ViewBag.Title = "RegisterStepTwo";
}

<span>Уважаемый пользователь, на ваш электронный ящик было отправлено письмо. Пожалуйста, для подтверждение регистрации пройдите по ссылке, указанной в письме.</span>

