
@{
    ViewBag.Title = "RegisterStepTwo";
}

<div class="container body-content" style="">
    <div class="alert alert-dismissable alert-warning">
        <span>Уважаемый пользователь, на ваш электронный ящик было отправлено письмо.<br/> Пожалуйста, для подтверждение регистрации пройдите по ссылке, указанной в письме.</span>
    </div>
</div>


