
@{
    ViewBag.Title = "RegisterConfirmation";
}

@if (ViewBag.IsConfirmed == true)
{
    <span>@Resources.Resource.RegistrationSuccess</span>
}
else
{
    <span>@Resources.Resource.RegistrationSuccess</span>
}


