<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CellularAutomatonContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=True;Initial Catalog=CellularAutomaton;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
</configuration>