@using Microsoft.AspNet.Identity
@model   System.Security.Principal.IPrincipal
@{
    ViewBag.Title = "Чат";
}

<h2>Чат-комната пользователя @Model.Identity.Name</h2>

<div class="container">
    <div class="bg-success col-md-6 col-md-offset-3">
        <div id="chatBody">
            <div id="header"></div>
            <div id="inputForm">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Отправить" />
            </div>
            <div id="chatroom">
                <ul></ul>
            </div>

            <div id="chatusers">
                <p><strong>Все пользователи</strong></p>
                <ul></ul>
            </div>
        </div>
        <input id="hdId" type="hidden" />
        <input id="username" type="hidden" />
    </div>
</div>
@section scripts {
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script>
    $(function () {
        // Ссылка на автоматически-сгенерированный прокси хаба
        var chat = $.connection.chatHub;
        // Объявление функции, которая хаб вызывает при получении сообщений
        chat.client.addMessage = function (name, message) {
            // Добавление сообщений на веб-страницу 
            $('#chatroom ul').append('<li><strong>' + htmlEncode(name)
                + '</strong>: ' + htmlEncode(message) + '</li>');
        };

        // Функция, вызываемая при подключении нового пользователя
        chat.client.onConnected = function(id, userName, allUsers) {
            $('#chatBody').show();
            // установка в скрытых полях имени и id текущего пользователя
            $('#hdId').val(id);
            $('#username').val(userName);
            $('#header').html('<h3>Добро пожаловать, ' + userName + '</h3>');

            // Добавление всех пользователей
            for (i = 0; i < allUsers.length; i++) {

                AddUser(allUsers[i].ConnectionId, allUsers[i].Name);
            }
        }

        // Добавляем нового пользователя
        chat.client.onNewUserConnected = function (id, name) {

            AddUser(id, name);
        }

        // Удаляем пользователя
        chat.client.onUserDisconnected = function (id, userName) {

            $('#' + id).remove();
        }

        // Открываем соединение
        $.connection.hub.start().done(function () {

            $('#sendmessage').click(function () {
                // Вызываем у хаба метод Send
                chat.server.send($('#username').val(), $('#message').val());
                $('#message').val('');
            });

            // обработка логина
            $(document).ready(function() {
                chat.server.connect("@User.Identity.Name");
            });
        });
    });
    // Кодирование тегов
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    //Добавление нового пользователя
    function AddUser(id, name) {
        var userId = $('#hdId').val();
        if (userId != id) {

            $("#chatusers ul").append('<li id="' + id + '" class="user" >' + name + '</li>');
        }
    }
    </script>
}
