@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="container-fluid">
    <div class="row">
        <div class="playAreaContainer ">
        </div>
    </div>
    <div class="row">
        <div class="btn btn-primary" id="step"><span class="glyphicon glyphicon-play"></span></div>
        <div class="btn btn-primary"><span class="glyphicon glyphicon-step-forward"></span></div>
    </div>
</div>


<script src="~/Scripts/example.js"></script>
