@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Здравствуйте!</h1>
    <p class="lead">Клеточный автомат - это математический объект с дискретными пространством и временем. Каждое положение в пространстве представлено отдельной клеткой, а каждый момент времени - дискретным временным шагом или поколением. Состояние каждой клетки определяется очень простыми правилами взаимодействия. Эти правила предписывают изменения состояния каждой клетки в следующем такте времени в ответ на текущее состояние соседних клеток. </p>
    <p>@Html.ActionLink("Создайте свой клеточный автомат!", "NewAutomaton", "Automaton", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Недавно добавленные конфигурации</div>
            @Html.Action("JustAdded","Automaton")
        </div>
    </div>
    
</div>