@model CellularAutomaton.Domain.User
@{
    
    ViewBag.Title ="";
    ViewBag.IsOwnPage = User.Identity.Name == Model.UserName;
}
@if (Model != null)
{
    if (ViewBag.IsOwnPage)
    {
        <h2>Мои конфигурации</h2>
    }
    else
    {
        <h2>Галерея пользователя @Model.UserName</h2>
        @Html.ActionLink("Написать сообщение", "ShowDialog", "Message", new { userName = Model.UserName }, new { @class = "btn btn-sm btn-primary" })
    }
    <div class="container">
        <div class=" col-md-6 col-md-offset-3">
            <div id="userAutomatons">
                <ul class="nav nav-pills nav-stacked">
                    @{ Html.RenderPartial("_ShowUserAutomatonsPartial",Model.Automatons.OrderByDescending(a=>a.CreationDate)); }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning"> Пользователь был удален.</div>
}

@if (ViewBag.IsOwnPage)
{
    @section scripts{
        <script type="text/javascript">
            $('#delete').click(function () {
                var id = $("#automatonId").val();
                var b=confirm("Вы действительно хотите удалить конфигурацию?");
                if (b == true) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete", "Automaton")",
                        data: "id=" + id,
                        success: function (data) {
                            if (data == true) {
                                alert("Конфигурация была удалена");
                                location.reload();
                            }
                            
                        }
                });
                }
            });
        </script>
    }
}


